*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fonth1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 20px;
}
h2,h3{
    color: rgb(18, 152, 87);
    margin: 10px;
}
h5{
    margin: 10px;
}
.image{
    background-image: url(https://picsum.photos/1800);
    
}
a:hover{
    color: yellow;
    background-color: red;
    border-bottom: 2px orange;
}
.anchor{
    color: wheat;
}
#nav{
    word-spacing: 2px;
    background-color: blue;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    
}
#flex-section{
    display: flex;
    width: 60%;
}
#flex{  
    display: flex;
    background-color: aqua;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
.article-flex{
    width: 25%;
    padding: 20px;
    border: solid 2px black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-flex2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#flex-aside{
    width: 25%;
    padding: 10px;
    margin: 0%;
    border: solid 2px black;
    display: flex;
    position: absolute;
    left: 976px;
    background-color:rgb(255, 230, 167);
}
.article-flex3{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.assec{
    padding: 10px;
    margin: 25px;
    height: 230vh;
    display: flex;
    border: solid 2px black;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#footer{
    background-color: black;
}
#Home{
    position: relative;
    top: 40px;
}
.img{
    width: 300px;
}